/*Paleta de colores*/
:root {
  --negro-violeta-profundo: #0e0613;
  --morado-oscuro: #361643;
  --fucsia-magenta-apagado: #772b78;
  --naranja-electrico-suave: #fc7d4f;
  --rosado-intenso-ciberpunk: #b02a60;
  --oscuro-con-tintes-rojos: #170a1c;
  --claro-con-toque-azulado: #f0f4ff;
  --sombra-suave: rgba(0, 0, 0, 0.3);
  --violeta-oscuro-rojizo: #2a112f;
  --fondo-bg: #030007;
}



/* Clases utilitarias */
.u-flex { display: flex; }
.u-center { justify-content: center; align-items: center; align-content: center; }
.u-column { flex-direction: column; }
.u-text-center { text-align: center; }
.u-shadow { box-shadow: 0 0 1rem var(--sombra-suave); }
.u-rounded { border-radius: 1rem; }
.u-padding-2 { padding: 2rem; }
.u-margin-2 { margin: 2rem; }
.u-gap-2 { gap: 2rem; }

/* Base */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--fondo-bg);
  color: var(--claro-con-toque-azulado);
}
/* hero */
.c_hero {
  background: url(../assets/images/background-img.jpg) center / cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    z-index: 1;
    flex-wrap: wrap;
}

.c_hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.2); /* filtro oscuro */
  z-index: -1;
}


/* Navbar */
.c_navbar {
  padding: 1.5rem 2.5rem;
  align-items: center;
  background-color: transparent;
  justify-content: space-between;
}

.c_navbar-logo {
  font-family: "The Nautigal", cursive;
  font-size: 4rem;
  color: var(--claro-con-toque-azulado);
  margin: 0;
  justify-content: left;
}

.c_navbar-toggle {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: var(--rosado-intenso-ciberpunk);
  margin-left: auto;
}
body.menu-open .c_hero {
  background-image: none;
  background-color: #2a112f; 
  backdrop-filter: blur(3px);
  transition: background 0.4s ease;
}



.c_navbar-list {
  font-family: "Bebas Neue", sans-serif;
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
}

.c_navbar-list a {
  position: relative;
  color: var(--claro-con-toque-azulado);
  transition: color 0.5s ease, opacity 0.3s ease;
}


.c_navbar-list:hover a {
  opacity: 0.5;
}

.c_navbar-list a:hover {
  opacity: 1;
}

.c_hero_title-h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 8rem;
  color: var(--claro-con-toque-azulado);
  text-align: center;
  margin-top: 2rem;
}

.svg_img {
  width: 4rem;
  height: 4rem;
  margin: 1rem;
  gap: 2rem;
  transition: all 0.3s ease;
}
/*para los h3**/
.c_habilidades_h3 {

}
.svg_effect {
  transition: all 0.3s ease;
  filter: drop-shadow(0 2px 4px rgba(27, 48, 58, 0.2));
}

.svg_effect:hover {
  transform: translateY(-3px);
  opacity: 1;
  filter: drop-shadow(0 0 10px var(--naranja-electrico-suave));
}

.progress {
  margin-top: 1rem;
  height: 2rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--claro-con-toque-azulado);
}

.progress::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: calc(var(--level) * 1%);
  background-color: currentColor;
  z-index: -1;
}


/* Texto legible sobre barras claras */
.progress span {
  z-index: 2;
  position: relative;
  text-shadow: 0 0 2px #000; /* borde negro sutil */
}

/* Si quieres cambiar texto claro en barras claras */
.progress.github span,
.progress.js span {
  color: #121212;
  text-shadow: none;
}

/* Colores adaptados al pantone */
.html::before { color: #E34F26; }
.css::before { color: #264DE4; }
.js::before { color: #f0f4ff; }
.vue::before { color: #4FC08D; }
.angular::before { color: #DD0031; }
.python::before { color: #3776AB; }
.node::before { color: #69AA21; }
.mysql::before { color: #00758F; }
.oracle::before { color: #F80000; }
.mongodb::before { color: #47A248; }
.git::before { color: #F05032; }
.github::before { color: var(--claro-con-toque-azulado); }
.agile::before { color: #007ACC; }


/* Responsive */
@media (max-width: 768px) {
  .c_navbar {
    align-items: flex-start; /* importante */
    display: contents;
  }

  .c_navbar-logo {
    display: none;
  }

  .c_navbar-toggle {
    display: flex;
    margin-top: 2rem;
    margin-right: 2rem;
  }

  .c_navbar-list {
    display: none;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    width: 100%;
    transition: color 0.3s ease, opacity 0.8s ease;
  }

  .c_navbar-list:hover a {
  opacity: 0.5;
  }
  .c_navbar-list a:hover {
  opacity: 1;
  }
  
  

  .c_navbar-list.active {
    display: flex;
  }
}



